<mat-toolbar>
  <ul class="status">
    <li>
      <h6 class="status-label">Saldo</h6>
      <p class="status-value">{{ponto?.total - ponto?.utilizados - ponto?.expirados|number:'1.2-2'}}</p>
    </li>
    <li>
      <h6 class="status-label">Histórico</h6>
      <p class="status-value">{{ponto?.total|number:'1.2-2'}}</p>
    </li>
    <li>
      <h6 class="status-label">Utilizados</h6>
      <p class="status-value">{{ponto?.utilizados|number:'1.2-2'}}</p>
    </li>
    <li>
      <h6 class="status-label">Perdidos</h6>
      <p class="status-value">{{ponto?.expirados|number:'1.2-2'}}</p>
    </li>
  </ul>
</mat-toolbar>